@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-container{
    /* border: 1px solid red; */
    min-height: 50px;
    display: flex;
    background-color:wheat;
}
.logo-container{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    width: 50%;
     justify-content: center;
     align-content: center;
}
.logo-container img{
    width: 80px;
    height: 30px;
    margin: 10px;
    
}
.logo-color{
    color: #FF42A5;
}
.logo-container h2{
    font-size: 45px;
    font-weight: 700;
}
.nav-items-container{
    /* border: 1px solid blue; */
    width: 50%;
   
}
.nav-items{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;

}
.nav-items li{
    list-style: none;
    margin-left: 50px;

}
/* end of nav bar section  */

/* <!-- start banner section  --> */

.main-section-gamer{
    border: 1px solid red;
    min-height: 400px;
    margin-top: 10px;
    display: flex;
}    
.text-container{
    border: 1px solid green;
    width: 50%;
    display: inline;
   justify-content: center;
   align-items: center;
}
.section-two-title-text{
    /* text-align: center; */
    margin-left: 50px;
}
.text-container h3{
    color: #0B0223;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: -45px;
}
.text-container h1{
    color:  #F948B2;
    font-size: 55px;
    font-weight: 800;
    
}
.p-section{
    margin-left: 50px;
    /* text-align: center; */
}
.text-container p{
    color: #534C64;
    font-size: 10px;
}
.btn-1,
.btn-2 {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 0.8rem 2rem;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-2 {
  border-radius: 48px;
  background: #4ec5f7;
  margin-left: 1rem;
}
.img-container{
    border: 1px solid black;
    width: 50%; 
}
.img-container img{
    width: 50%;
    margin-left: 100px;
    display: block;
    margin: 0 auto;
}
/* main section game done  */

.main-section-online-games{
    border: 1px solid red;
    min-height: 400px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.title-text{
    text-align: center;
    margin-top: -20px;
}
.title-text h2{
    font-size: 38px;
}
.title-color{
    color:#F948B2;
}
.title-text P{
    font-size: 15px;
    margin-top: -25px;
}
.gaming-img-container{
    display: flex;
    gap: 10px;
    margin-left: 60px;
}
.gaming-img-container img{
    height: 270px;
    width: 250px;
    
    
}
.gaming-img-container p{
    font-size: 10px;
    text-align: center;
}
/* main section game end  */


/* game play section styles */
.game-play-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 8rem;
  }
  .game-play-img-container {
    height: 520px;
    width: 500px;
  }
  .game-play-img-1 {
    height: 100%;
    width: 100%;
  }
  .game-play-img-2 {
    height: 50%;
    position: relative;
    bottom: 200px;
    right: 100px;
  }
  .game-play-img-2-2 {
    height: 50%;
    position: relative;
    bottom: 200px;
    left: 380px;
  }
  .game-text {
    text-align: right;
  }
  .game-text-1 {
    text-align: left;
  }
  .game-play-title {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .game-play-title-color {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .game-play-description {
    color: #534c64;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 2rem;
    line-height: 1.5rem;
  }
  
  /* game button section styles */
  .game-button {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .game-button img {
    width: 50px;
  }
  .game-button p {
    color: #0b0223;
    font-size: 1rem;
    font-weight: 600;
  }
  .game-button:hover {
    border: 1.5px solid #ff42a5;
    border-radius: 50px;
    background: #fff;
    background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  
  .game-button-container {
    background: linear-gradient(
      90deg,
      rgba(255, 66, 165, 0.03) 0%,
      rgba(255, 66, 165, 0.03) 100%
    );
    padding: 5rem 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

/* start footer section  */
.footer-container{
    border: 1px solid red;
    min-height: 500px;
    background-color: #0B0223;
}
.icon-img{
    display: flex;
    align-items: center;
    margin-left: 500px;
    
    
}
.icon-img h3{
    color: white;
    font-size: 35px;
    
}
.second-container{
    color: white;
   
}
.list-item-footer{
    display: flex;
    list-style: none;
    margin-left: 230px;
}
.list-item-footer li{
    font-size: 15px;
    margin: 10px;
    margin-top: -20px;
    margin-left: 30px;

}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: center;
    grid-gap: 1rem 1rem;
    padding: 3rem 0;
  }
  .footer-icons img {
    width: 30px;
    margin: 0 0;
    margin-right: 0;
  }

  .footer-description-two {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    gap: 1rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2rem;
    color:white;
    margin-left: 300px;
  }
  .footer-copyright {
    padding: 0 4rem;
    line-height: normal;
    color: white;
    margin-left: 350px;
    margin-top: -20px;
  }


